.container {
  width: 80vw;
  height: 80vh;
  margin: auto;
}

.card {
  width: 100%;
  padding: 1rem;
}

.title{
  width: 90%;
}

@media (max-width: 667px){
  .container{
    width: 95vw;
  }
  .card{
    padding: 0.5rem;
  }
}