.container {
  margin: auto;
  width: 60vw;
  padding-top: 5vh;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 3rem;
}

.formLabel {
  position: absolute;
  top: 12px;
  left: 0;
  display: block;
  padding: 0.5rem;
  transition: 0.5s;
  color: #fff;
  font-size: 1.5rem;
}

.inputContainer {
  position: relative;
}

.input {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  outline: none;
}

.inputContainer:focus-within .formLabel {
  top: -16px;
  font-size: 16px;
  color: #3140e3;
}

.inputContainer:focus-within .input {
  border-bottom: 1px solid #3140e3;
}

.formLabelActive {
  composes: formLabel;
  top: -16px;
  font-size: 16px;
  color: rgb(231, 149, 73);
}

.btnSubmit {
  padding: 1rem;
  border: none;
  background-color: #3140e3;
  border-radius: 5px;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 0 2rem;
  cursor: pointer;
}

.btnSubmitRegister {
  composes: btnSubmit;
  background-color: rgb(231, 149, 73);
}

