.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

.navItem {
  text-transform: uppercase;
  color: #fff;
  padding: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.navItem:hover {
  color: yellow;
}

@media (max-width: 667px) {
  .navigation {
    display: none;
  }
}